<div class="grid-container">

    <h1>{{title}}</h1>

    <div *ngIf="input !== null" class="grid-container-navigation">
        <button (click)="goTo(page)" *ngFor="let page of pages" [className]="page === input.page ? 'active' : ''" >{{page}}</button>
    </div>

    <div *ngIf="input !== null" class="grid-container-items">
        <app-grid *ngFor="let movie of input.results" [movie]="movie"></app-grid>
    </div>

    <div *ngIf="input !== null" class="grid-container-navigation">
        <button (click)="goTo(page)" *ngFor="let page of pages" [className]="page === input.page ? 'active' : ''" >{{page}}</button>
    </div>

</div>
