h2 {
  font-size: x-large;
  color: white;
}

img {
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.movie {
  margin: 0 20px;

  .movie__images {
    div.thumbnails .carousel {
      width:100%;
      display: flex;
      .slick-item {
        transition: all 0.3s ease;
        margin-bottom: 60px;
      }

      .slick-item:hover {
        transform: scale(1.02);
        cursor: pointer;
      }
    }
  }

  .button-favourite {
    border: solid white 5px;
    color: gray;
    background-color: white;
    box-sizing: content-box;
    border-radius: 15px;
  }

}
